header {
  padding: 20px ;
}

header nav {
  display: flex; <!--  all the flexible items be the same length, regardless of its content  -->
  justify-content: flex-end; <!-- Align the flex items at the center of the container -->
}

header .row{
  display: flex;
  align-items: center;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}
